@model IEnumerable<Projeto_WEB.Models.Seller>


@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>


<p>
    <a asp-action="Create" class="btn btn-default" >Create New</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.baseSalary)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.DisplayFor(model => item.birthDay)
            </td>
            <td>
                @Html.DisplayFor(model => item.baseSalary)
            </td>
            <th>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

            </th>
        </tr>
            }
    </tbody>

</table>



